decision to deny is not typically communicated by returning an authorization code

The SMART App Launch Framework page currently has this text

"The EHR decides whether to grant or deny access. This decision is communicated to the app when the EHR authorization server returns an authorization code."

Denial would typically be communicated with an "error=access_denied" parameter rather than a "code=xyz" parameter. The current text might be misconstrued to mean a code is always required, even when access is denied, so I suggest that last part of this be changed to something like "The decision **to grant access** is communicated to the app when the EHR authorization server returns an authorization code. Denial of access is communicated as described in Section 4.2.2.1 of RFC 6749."