clarification of requirement to validate state

In the second bullet point of the security considerations section, the phrase "and validate the state value included in **access tokens** it receives." should be replaced with "and validate the state value included in **access token responses** it receives."

I assume this refers to implicit grant flow. In this flow, the state value is returned by the AS as part of the access token response, but it is not "in" the access token itself, rather it is a separate parameter.

Ref: RFC 6749, Section 4.2.2